<h1>Home#index</h1>
<p>Hello</p><% @questions.each do |q|%>
    <div class="media">
    <img class="align-self-start mr-3" src="<%=q.gravatar%>" alt="Generic placeholder image">
    <div class="media-body">
        <h5 class="mt-0"><%=q.email%></h5>
        <p><%=time_ago_in_words q.created_at%> ago</p>
        <p><%=q.body%></p>
        <div><a href="<%=question_path(q)%>" class="btn btn-success btn-xs">View Answers</a></div>
    </div>
</div>
  <%end%>
  <% if @questions.empty?%>
    <div class="alert alert-info">Nothinkg here but you can ask</div>
  <%end%>
