<!DOCTYPE html>
<html>
  <head>
    <title>QuestionsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<%=render 'home/navbar'%>
  <div class = "container">
    <div class="well"><%= current_user_email%></div>
    <%= yield %>
    <%=render 'home/new_question_form'%>

  
    </div>
  </body>
</html>
